
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}



#eslogan{
	color: #e91e63;
}

#over{
  position:relative;
  top: -180px;     
}

#video-div{
  margin-bottom: none;
  padding-bottom: none;
}

#div-img{
	width:100%; 
	height:100%;
	margin: 0;
}

#head{
	padding-left: 0;
}

